/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body  */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.container{
    height: calc(100vh - 90px);
    display: flex;
}

.left-bar{
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding:20px 20px 0 20px;
    justify-content: space-between;
}

h3{
    color: white;
}

.music{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.upgrade-bar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

.playlist{
    height: 90%;
    background-color: #141922;
    overflow-y: scroll;
    padding: 0 40px 0 20px;
}

.nav-footer{
    align-items: flex-end;
}

.music-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    background-color: #282828;
}

.logo{
    margin-bottom: 15px;
}
ul{
    list-style-type: none;
}

li{
    padding-bottom: 15px;
    padding-right: 25px;
}


ul li > a{
    text-decoration: none;
    color: grey;
}

.nav-playlist ul li{
    display: inline-block;
    padding-top: 20px;
}

.grey{
    color: grey;
}

.white{
    color: white;
}


.upgrade-bar a{
    color:;
}
i{
    font-size: 25px;
    color: #d2d2d2;
}

.download{
    border-bottom: 1px solid grey;

}

.btn a{
    font-weight: bold;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
}

.nav-playlist{
    text-align: center;
}

.content{

}

[class*="section-"]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    width: 240px;
    height: 240px;
    background-color: red;
}

.content [class*="section-"] .item:last-of-type{
    margin-right: 20px;
}

.section-artist > .item{
    border-radius: 50%;
}