/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body  */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.container{
    height: calc(100vh - 110px);
    display: flex;
}

.left-bar{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding:20px 20px 0 20px;
    justify-content: space-between;
}

h3{
    color: white;
}

.left-bar h3{
    padding-bottom: 15px;
}

.nav-main ul li{
    margin-bottom: 15px;
} 

#create a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#create i{
    font-size: 60px;

}

.nav-main i{
    margin-right: 10px;
}
.music{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.upgrade-bar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

.playlist{
    height: 90%;
    background-color: #141922;
    overflow-y: scroll;
    padding: 0 40px 0 20px;
}

.nav-footer{
    align-items: flex-end;
}

.music-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    z-index: 1;
    background-color: #282828;
    padding: 0 10px 0 10px;
}

.logo{
    margin-bottom: 15px;
    width: 70%;
}
ul{
    list-style-type: none;
}

li{
    padding-right: 25px;
}


ul li > a{
    text-decoration: none;
    color: grey;
}


.nav-playlist ul li{
    display: inline-block;
    font-weight: bold;
    padding-top: 20px;
}

.grey{
    color: grey;
}

.white{
    color: white;
}

i{
    font-size: 25px;
    color: #d2d2d2;
}

#play{
    font-size: 40px;
    justify-content: center;
}
.download{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.btn a{
    font-weight: bold;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
}

.nav-playlist{
    text-align: center;
}

[class*="section-"]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.item{
    width: 15%;

    position: relative;
}

.item > img{
    width: 100%;
}

.content [class*="section-"] .item:last-of-type{
    margin-right: 20px;
}

.section-artist > .item{
    border-radius: 50%;
}

.col-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-right{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.copertina{
    width: 45px;
    height: 45px;
    background-image: url(../img/sinister.jpeg);
    background-size: contain;
}

.bar-music{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-bar{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.bars{
    width: 600px;
    height: 7px;
    background-color: #5a5a5a;
    justify-content: space-between;
    margin: 0 25px 0 25px;
}

.inside-bar{
    width: 25%;
    height: 100%;
    background-color: #c1c1c1;
}

.bar, .inside-bar{
    border-radius: 10px;
}
.line{
    width: 150px;
    height: 7px;
    background-color: grey;
    border-radius: 7px;
}

.content h2{
    color: white;
    padding-bottom: 25px;
    padding-top: 45px;
}

.content h4{
    color: #7d7f84;
    padding-bottom: 25px;
}

.title{
    padding-left: 10px;
    margin-right: 40px;
}

.title p:first-child{
    color: white;
    font-weight: bold;
}

.title p:last-child{
    color: #858585;
    font-weight: bold;
}

.button-bar > i{
    color: white;
    padding-right: 22px;
}

.col-right > i{
    color: white;
    padding-right: 15px;
    font-size: 15px;
}

.col-2 > i{
    padding-right: 15px;
}

.col-1{
    display: flex;
}

.download > i, .profile > i{
    padding-right: 10px;
}

.download > i{
    font-size: 15px;
}

.profile{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.circle{
    border-radius: 50%;
}

.nav-playlist > ul > li:first-child::after{
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background-color: greenyellow;
    margin: auto;
    margin-top: 4px;

}

.nav-main > ul:first-of-type > li:first-child{
    border-left: 2px solid greenyellow;
    padding-left: 10px ;
}

.item:hover img{
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
}


/* Media query phone screen 
@media screen and (max-width:1000px){
    .logo{
        display: none;
    }
    .nav-main > ul > li a{
        display: none;
    }
    .item{
        width: 25%;
        height: 25%;
    } */
